body{
    font-family: Arial, Helvetica;
    background: url(fondo.jpg);
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}

.Menu{
    list-style: none;
    padding: 0;
    background: #03090a;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.Menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.Menu li{
    display: inline-block;
    text-align: center;
}

.Menu li a:hover{
    background: #3a3736;
}

h1{
    color: white;
    text-align: center;
    text-size-adjust: 20;
    font-size: 100px;
    margin-right: 20px;
    margin-left: 20px;

}

h2{
    color: white;
    text-align: left;
    text-size-adjust: 20;
    font-size: 40px;
    margin-right: 50px;
    margin-left: 50px;

}


p{
    color: white;
    text-align: left;
    text-size-adjust: 20;
    font-size: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

h3{
    color: white;
    text-align: left;
    text-size-adjust: 20;
    font-size: 40px;
    margin-right: 50px;
    margin-left: 50px;

}

h4{
    color: white;
    text-align: left;
    text-size-adjust: 20;
    font-size: 40px;
    margin-right: 50px;
    margin-left: 50px;

}